$grid-col: 12;
$grid-col-alt: 5;

.row {
	@extend %clearfix;
}

/*
xs: 640px,
small: 768px,
medium: 1024px,
large: 1280px
*/

@include screen(small) {
	[class^='col-'] {
	  float: left;
	  min-height: 1px;
	}

	/* col-1 to col-12 */
	@for $i from 1 through $grid-col {
		.col-#{$i} {
			width: 100% / $grid-col * $i;
		}

		.col-push-#{$i} {
			position: relative;
			left: 100% / $grid-col * $i;
		}

		.col-pull-#{$i} {
			position: relative;
			right: 100% / $grid-col * $i;
			float: right;
		}
	}

	/* col-20, col-40, col-60, col-80, col-100 */
	@for $i from 1 through $grid-col-alt {
		.col-#{$i*20} {
			width: 100% / $grid-col-alt * $i;
		}

		.col-push-#{$i*20} {
			position: relative;
			left: 100% / $grid-col-alt * $i;
		}

		.col-pull-#{$i*20} {
			position: relative;
			right: 100% / $grid-col-alt * $i;
			float: right;
		}
	}
}
